.card {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 85%;
    margin-left: 5rem;
    flex-direction: column;
}

.icon {
    color: white;
}

.left {
    position: fixed; 
    top : 3rem;
    right: 7.5rem;
}
.right{
    position: fixed; 
    top : 3rem;
    right: 2.5rem;
   }

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    background: none;
}
   
.internal{
    width: 35rem;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000029;
    background-color: white;
    display: inline-block;
    margin-left:5rem;
}

.internal:first-of-type {
    margin-left: .9rem;
}

.internal:last-of-type {
       margin-right: 10rem;
}

.center{
    float: left; 
    height: 15rem;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
}

.circle {
    height : 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

.circle img {
    width: 40%;
    height: auto;
}

.colorDark {
    box-shadow: 0 0 2rem #FA6332;
}

.colorOrange {
    box-shadow: 0 0 2rem #FFB237;
}

.colorBlue {
    box-shadow: 0 0 2rem #4CB4FF;
}

.colorGreen {
    box-shadow: 0 0 2rem #19CE10;
}