.card {
    display: flex;
    width: 150%;
    overflow: hidden;
    position: relative;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: fixed; 
    top : 1rem;
    right: 7.55rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
}
   
   .internal{
    width: 20rem;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
   }
   
   .center{
    float: left; 
    width: 38.9%;
    height: 200px;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
   }
   
   .right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: fixed; 
    top : 1rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
   }