.Modal {
    overflow-y: auto;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 75%;
    max-height: 75%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
