.mainHeader {
        position: relative;
        bottom: 0;
        width: 12rem;
        height: 100%;
        z-index: 1;
        background: #FA6332;
        transition: all 700ms;       
}

.display {
    display: none;
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

.mainHeader:hover .display{
    display: inline;
}

.slide {
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.nav{   
    background: #FA6332;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.logo {
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
    margin-left: 2.3rem;
}

.nav .rev {
    margin-top: 1rem;
    font-size: 2.5rem;
    padding: .5rem 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav li {
    margin: 2rem 2.5rem 1rem 2.5rem;
    list-style: none;
}

.nav li:first-of-type {
    margin-top: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: white;
    width: 3rem;
    height: 3rem;
}

.circle{ 
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    margin-left: .9rem;
    display: flex;
    justify-content: center;
}

.active .circle{
    background: rgba(255,255,255,0.3);
    border: 1px solid white;
    
}

.nav img {
    width: 2.7rem;
    z-index:100; 
}

