table {
    margin-top: 5rem;
    margin-left: 5rem;
    text-align: center;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 80%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size : 1.3rem;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}