.Upload {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    overflow: hidden;
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    box-sizing: border-box;
    width: 50%;
  }
  
  .Files {
    width: 40rem;
    margin-left: 1.2rem;
    margin-top: .5rem;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
  }
  
  .Actions {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  
  .Actions button {
    margin: 1rem;
  }

  .Title {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #555;
  }
  
  .Filename {
    width:20rem;
    font-size: 1.5rem;
    color: #555;
  }
  
  .Row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-top: .5rem;
    overflow: hidden;
    box-sizing: border-box;
  }
 
  .CheckIcon {
    width: 2rem;
    height: auto;
    margin-left: 3rem;

  }
  
  .ProgressWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  
  .Actions button {
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: #FA6332;
    color: #fff;
    outline: 0;
  }
  
  .Actions button:disabled {
    background: rgb(189, 189, 189);
    cursor: default;
  }