@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }


body {
  overflow-x: hidden;
  margin: 0;
  line-height: 1.7;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: flex;
  background: linear-gradient(to bottom,#272262 20%,white 20%);
}

.component {
  display: flex;
  flex-direction: column;
}